.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #2a539e;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImg {
    max-width: 140px;
    max-height: 50px;
}