.input {
  background: var(--white-color);
  border-radius: var(--radius-m);
  padding: var(--space-s);
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.input:focus {
  border: 1px solid var(--hover-color);
}
