.input {
  background: #d4d4d4;
  border-radius: var(--radius-m);
  padding: 5px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.input:focus {
  border: 1px solid #3b3b3b;
}
