.button {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
  font-size: var(--font-size-md);
  padding: var(--space-m);
  border-radius: var(--radius-xl);
  background: var(--white-color);
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background: var(--hover-color);
  color: var(--text-color);
  cursor: pointer;
}
