* {
    margin: 0;
    padding: 0;
	  box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

ul, ol {
  list-style-type: none;
  list-style: none;
}

button, input {
	outline: none;
	border: none;
}

inputL:focus {
	 outline: none;
}
