.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: var(--primary-secondary);
  position: sticky;
  font-family: var(--font-family);
  top: 0;
  z-index: 1000;
  box-shadow: 0 20px 16px rgba(133, 132, 132, 0.15);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  color: var(--text-color);
  font-weight: 600;
}

.link {
  color: var(--text-color);
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s ease;
}

hr {
  height: 25px;
}

.link:hover {
  border-bottom-color: var(--text-color);
}
.profile {
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  border-right: 1px solid var(--text-color);
}

.profilePicture {
  width: 55px;
  height: 55px;
}

.profileName {
  color: var(--text-color);
}

.logoutBtn {
  display: flex;
  margin-left: 5px;
  cursor: pointer;
  margin-top: 10px;
  align-self: start;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

.loading {
  color: var(--text-color);
}
