.loginForm {
  width: min(90%, 300px);
  height: auto;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 20px auto;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  background: var(--primary-colors);
}

.error {
  font-size: min(4vw, 12px);
  color: #b93e3e;
  text-align: center;
}

.formTitle {
  color: #353333;
  text-align: center;
  font-size: min(6vw, 24px);
}