.layout {
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 0 auto;
  height: auto;
  margin-top: 5vh;
  max-width: 1280px;
  width: 100%;
  padding: 0 var(--space-s);
  box-sizing: border-box;
}
