.errorOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 200px;
  background: var(--primary-secondary);
  border-radius: var(--radius-m);
  color: var(--error-color);
  font-size: var(--font-size-md);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 20px;
  text-align: center;
  position: relative;
  animation: popIn 0.3s ease-out forwards;
  pointer-events: auto;
}

.errorIcon {
  width: 60px;
  height: 60px;
  color: var(--error-color);
  margin-bottom: 10px;
}

.errorMessage {
  margin: 5px 0;
  font-size: var(--font-size-md);
}

.errorCode {
  font-size:  var(--font-size-md);
  color: var(--error-color);
  opacity: 0.8;
}

@keyframes popIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .error {
    width: 90%;
    max-width: 280px;
    height: auto;
    padding: 15px;
  }

  .errorIcon {
    width: 50px;
    height: 50px;
  }

  .errorMessage {
    font-size: var(--font-size-xs);
  }

  .errorCode {
    font-size: var(--font-size-xs);
  }
}