@font-face {
  font-family: "Bebas";
  src: url("./assets/fonts/BebasNeue-Regular.ttf");
}

.logo {
  display: flex;
  align-items: end;
}

.logoImg {
  max-width: 130px;
  max-height: 40px;
  margin-bottom: 6px;
}

.logoTitle {
  color: #fff;
  font-family: "Bebas", sans-serif;
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 1.1;
}

@media (max-width: 758px) {
  .logoTitle {
    font-size: var(--font-size-xxl);
  }

  .logoImg {
    max-width: 90px;
    max-height: 30px;
  }
}

@media (max-width: 480px) {
  .logoTitle {
    display: none;
  }

  .logoImg {
    max-width: 85px;
    max-height: 30px;
    align-self: end;
  }
}
