.registrationForm {
  width: min(90%, 300px);
  height: auto;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 20px auto;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  background: var(--primary-colors);
}

.error {
  font-size: 12px;
  color: #b93e3e;
}

.formTitle {
  color: var(--text-color);
}

.redirectLink {
  color: var(--text-color);
}
