* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  scroll-behavior: smooth;
  background: var(--primary-color);
  line-height: 1;
}

a {
  text-decoration: none;
  color: #000;
}

ul,
ol {
  list-style-type: none;
  list-style: none;
}

button,
input {
  outline: none;
  border: none;
}

inputL:focus {
  outline: none;
}
