.articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  gap: var(--space-l);
  max-width: var(--breakpoint-lg);
  margin: 0 auto;
  width: 100%;
  padding: 0 var(--space-s);
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .articles {
    padding: 0;
    gap: var(--space-l);
  }
}
