.button {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  padding: 15px;
  border-radius: 25px;
  background: var(--white-color);
  transition: all 0.3s ease;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background: var(--hover-color);
  color: var(--text-secondary);
  cursor: pointer;
}
