.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block {
    display: flex;
    justify-content: center;
    align-items: end;
}

.logoTitle {
    font-size: 32px;
}

.logoDesc {
    font-size: 14px;
}

.logoImg {
    max-width: 135px;
    max-height: 50px;
}