.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-l);
  height: 95px;
  background: var(--primary-secondary);
  position: sticky;
  font-family: var(--font-family);
  top: 0;
  z-index: 1000;
  box-shadow: 0 20px 16px rgba(133, 132, 132, 0.15);
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  color: var(--text-color);
  cursor: pointer;
  font-size: var(--font-size-xl);
  margin-right: var(--space-m);
  border: 1px solid var(--white-color);
  background: #494949;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  color: var(--text-color);
  font-weight: 600;
}

.link {
  color: var(--text-color);
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s ease;
}

.link:hover {
  border-bottom-color: var(--text-color);
}
.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profilePicture {
  width: 65px;
  height: 65px;
}

.userName {
  font-size: 16px;
  color: var(--text-color);
}

.logoutBtn {
  display: flex;
  justify-content: center;
  color: var(--text-color);
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 4px 8px;
  border-radius: 12px;
  transition: all 0.2s;
  cursor: pointer;
  margin-top: 5px;
}
.logoutBtn:hover {
  background: rgba(255, 255, 255, 0.2);
}

.logoutText {
  font-size: 15px;
  font-weight: 500;
}

.logoutImg {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.loading {
  color: var(--text-color);
}

@media (max-width: 768px) {
  .avatar {
    width: 45px;
    height: 45px;
  }

  .profileName {
    font-size: 10px;
  }

  .logoutBtn {
    padding: 4px;
  }

  .logoutImg {
    width: 15px;
    height: 15px;
  }
}