.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #2a539e;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    color: #0e1011;
    font-weight: 600;
}

.link {
    color: #0e1011;
    font-size: 18px;
    font-weight: 600;
}