.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background: var(--primary-color);
  padding: 20px;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  z-index: 500;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
}

@keyframes loadingText {
  0% { content: ""; }
  25% { content: "."; }
  50% { content: ".."; }
  75% { content: "..."; }
  100% { content: "..."; }
}

.loadingTitle {
  font-size: var(--font-size-xl);
  color: var(--text-color);
  position: relative;
}

.loadingTitle::before {
  content: "Loading";
}

.loadingTitle::after {
  content: "";
  animation: loadingText 1.5s infinite step-end;
}

@keyframes loadingIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingIcon {
  width: 45px;
  height: 45px;
  margin: 10px;
  color: var(--white-color);
  animation: loadingIcon 3s linear infinite;
}
